<p></p>
 <form class="example-form" #usersForm="ngForm" novalidate enctype="multipart/form-data">
    <mat-form-field class="example-full-width">
      <input type="number" name="vnumerical" #vnumerical="ngModel"
      matInput placeholder="Number" [(ngModel)]="num" required (keypress)="numericOnly($event);">      
       <mat-error *ngIf="vnumerical.invalid && (vnumerical.dirty || vnumerical.touched)">
        Enter Number
      </mat-error>       
    </mat-form-field>    
  <span>&nbsp;&nbsp;&nbsp;</span>
    <mat-form-field class="example-full-width" >
        <input matInput placeholder="Roman Number" [(ngModel)]="result" name="result" >
    </mat-form-field>
    <button mat-raised-button class="matbtn" (click)="convertToRoman(num)">Convert to Roman</button>
  </form>